.logo {
  border-bottom: 1px solid #919191;
  padding: 0;
}

.logo__text {
  margin: 33px 169px 24px 99px;
  display: flex;
  font-size: 48px;
  font-family: Roboto, serif;
  line-height: 38px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.logo__textImg {
  width: 51px;
  height: 51px;
  margin-top: -10px;
}

.logo__textSpan {
  color: #ff3380;
  margin-left: 7px;
}
